{% extends 'layout.twig' %}

{% block h1 %}Add new task{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div style="padding-top: 1em;">
            <a href="{{ url('/') }}" style="float: left;">Cancel</a>
            <input type="submit" style="float: right;" value="Add task">
        </div>
    {{ form_end(form) }}
{% endblock %}
