<div>
    <p>{{ formData.userName }}</p>
    <p>{{ formData.email }}</p>
    <p>{{ formData.text|nl2br }}</p>
    {% if dataUriImage %}
        <img src="{{ dataUriImage }}" alt="">
    {% endif %}
</div>
