{% extends 'layout.twig' %}

{% block h1 %}List of the tasks{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm">
            <p>User1</p>
            <p>user1@example.com</p>
            <p>Стартовая страница - список задач с возможностью сортировки по имени пользователя, email и статусу. Вывод задач нужно сделать страницами по 3 штуки (с пагинацией). Видеть список задач и создавать новые может любой посетитель без регистрации. </p>
            <p><img src="/img/1.jpg" alt="" style="max-width: 320px"></p>
        </div>
        <div class="col-sm">
            <p>User1</p>
            <p>user1@example.com</p>
            <p>Стартовая страница - список задач с возможностью сортировки по имени пользователя, email и статусу. Вывод задач нужно сделать страницами по 3 штуки (с пагинацией). Видеть список задач и создавать новые может любой посетитель без регистрации. </p>
            <p><img src="/img/1.jpg" alt="" style="max-width: 320px;"></p>
        </div>
        <div class="col-sm">
            <p>User1</p>
            <p>user1@example.com</p>
            <p>Стартовая страница - список задач с возможностью сортировки по имени пользователя, email и статусу. Вывод задач нужно сделать страницами по 3 штуки (с пагинацией). Видеть список задач и создавать новые может любой посетитель без регистрации. </p>
            <p><img src="/img/1.jpg" alt="" style="max-width: 320px;"></p>
        </div>
    </div>
    <section>

    </section>

    <p><a href="{{ url('task.add') }}">Add Task</a></p>
{% endblock %}
